* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* HEADER  */
.header-section {
    position: fixed;
    top: 0;
    z-index: 100;
    width: 100%;
}

#header-box,
.header-section {
    height: 40px;
}

.header-container {
    background-color: rgb(7, 7, 7);
}

#header-box p {
    color: #36b3d2;
}

/* NAVBAR  */
.navbar {
    height: 15vh;
    z-index: 100;
    top: 40px;
    transition: .3s ease-in;
}

.navbar .container div a {
    color: rgb(171 173 175);
}

.nav-bg {
    /* background-color: #24141c;
    opacity: 0.5; */
    background-color: #09090a;
    opacity: 0.8;
}

.nav-buttons .btn1 i {
    font-size: 1.7rem;
}

.nav-buttons .btn2 i {
    font-size: 1.8rem;
}

.nav-buttons .btn2 span {
    font-size: 1rem;
    position: relative;
    top: -0.6rem;
    left: 1.5px;
    background-color: red;
    padding: 1.1px 4.5px;
    border-radius: 50%;
    color: #fff;
    font-weight: 600;
}

.search-form {
    width: 40%;
    position: fixed;
    z-index: 100;
    height: 84vh;
    top: 6.5rem;
    right: -100rem;
    background-color: #fff;
    border-radius: 5px;
    transition: right 0.5s ease;
}

.search-show {
    right: 0;
}

.search-form .input-box {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    border-bottom: 2px solid black;
}

.search-form .input-box input {
    padding: 0.7rem 1rem;
    width: 88%;
    height: 12%;
    border: none;
    outline: none;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}

.search-form .input-box a i {
    font-size: 1.4rem;
    color: rgb(45, 43, 43);
    cursor: pointer;
}

/* HERO SECTION  */
.hero {
    background-color: rgb(235, 236, 236);
}

.slider-cotent-box img {
    height: 85vh;
}

#hero-content-box {
    right: 53%;
    bottom: 12.5rem;
    text-align: start;
    width: 100%;
}

#hero-content-box h2 {
    font-size: 2.5rem;
    font-weight: 700;
}

#hero-content-box a {
    font-size: 1.2rem;
    padding: 0.6rem 1.9rem;
}

#hero-carousel-indicator {
    align-items: center;
}

#hero-carousel-indicator button {
    width: 0.7rem;
    height: 0.7rem;
    border-radius: 50%;
}

#hero-carousel-indicator .active {
    width: 0.9rem;
    height: 0.9rem;
    border-radius: 50%;
}

/* COLLECTION SECTION  */

.collection-container {
    margin-top: 1rem;
}

.collection-text {
    text-align: center;
}

.collection-text-box {
    cursor: pointer;
}

/* CATEGORY SECTION  */
.category-box {
    height: 40vh;
}

.category-box-one {
    height: 100%;
    background-image: url("/images/mens_cat.jpg");
    background-position: center;
    background-size: cover;
    padding: 1rem;
}

.category-box-two {
    height: 100%;
    background-image: url("/images/arrival_cat.jpg");
    background-position: center;
    background-size: cover;
    padding: 1rem;
}

.category-box-three {
    height: 100%;
    background-image: url("/images/womens_cat.jpg");
    background-position: center;
    background-size: cover;
    padding: 1rem;
}

/* PRODUCT SECTION  */
.img-box {
    width: 100%;
    border-radius: 10px;
    cursor: pointer;
    transition: .5s linear;
}

.card-img-top {
    height: 270px;
    mix-blend-mode: multiply;
}

#add-to-cart-btn {
    position: absolute;
    bottom: 7.4rem;
    right: 2rem;
    opacity: 0;
}

.img-box:hover #add-to-cart-btn {
    opacity: 1;
    transition: .5s linear;
}

.product-detail-box {
    padding: 0.5rem;
}

.product-title {
    font-size: 0.8rem;
    color: #101415;
}

.rating-icon {
    margin-bottom: 0rem;
    color: #111112;
    font-size: 0.8rem;
}


.pagination .page-item .page-link {
    background-color: rgb(235, 236, 236);
}

.page-indicator {
    cursor: pointer;
}

/* TARGET COLLECTION SECTION  */

.product-collec-section {
    background-color: rgb(235, 236, 236);
    overflow: hidden;
}

.pro-collec-box img {
    height: 440px;
}

.pro-collec-box div h2 {
    font-size: 4rem;
    font-weight: 700;
}

.product-collec-section .container .row:nth-of-type(2) {
    padding-top: 4rem;
    padding-bottom: 2rem;
}

/* CONTACT SECTION  */
.contact-section {
    background-color: rgb(235, 236, 236);
}

.contact-section .container .contact-card {
    border: 1px solid gray;
    width: 100%;
    padding: 3.5rem 2rem;
    background-color: rgb(235, 236, 236);
}

.contact-card-body {
    background-color: rgb(216, 216, 216);
    border-radius: 0.63rem;
    margin-top: 3rem;
}

.contact-input-box input {
    border: 1px solid rgb(167, 164, 164);
}

.contact-input-box textarea {
    border: 1px solid rgb(167, 164, 164);
}

.contact-card-body button {
    font-size: 1.1rem;
    font-weight: 700;
    padding: 0.6rem 3rem;
}

.card-img-top {
    height: 380px;
}

/* INFORMATION SECTION  */
.info-section {
    background-color: rgb(235, 236, 236);
}

.info-container {
    padding: 5rem;
}

#info-carousel-indic button {
    width: 9px;
    height: 9px;
    border-radius: 50%;
    margin-right: 6px;
    background-color: #101415;
}

/* FOOTER SECTION  */
.footer-bottom-box-two {
    width: 100%;
    justify-content: end;
}

.social-icon {
    width: 6%;
    height: 4.5vh;
    border-radius: 50%;
    background: #15cefc;
    margin-right: .7rem;
    cursor: pointer;
}

/* SINGLE CARD  */
.singlecard-section {
    padding-top: 8rem;
    padding-bottom: 3rem;
    background-color: rgb(235, 236, 236);
}

.single-card-img {
    padding: 1rem;
    border-right: 1px solid gray;
    border-left: 1px solid gray;
}

.single-card-body .card-text {
    margin-bottom: 0;
}

.single-card-body .rating-icon {
    font-size: 1.2rem;
}

.price-box .price {
    font-size: 1.2rem;
}

.price-box .off {
    padding: 0.08rem 0.7rem;
    font-size: 0.9rem;
    background-color: #15cefc;
}

.price-box .off:hover {
    background-color: #15cefc;
}

.price-box .btn span {
    font-size: 0.73rem;
}

.price-box p:nth-of-type(2) {
    text-decoration: line-through;
}

.size-chart p {
    cursor: pointer;
    transition: 0.3s linear;
    font-size: 1rem;
}

.size-chart p:hover {
    scale: 1.2;
    font-weight: 600;
}

.single-count-box .count p:nth-of-type(2) {
    font-size: 1.2rem;
}

.single-count-box .count p:nth-of-type(1) {
    cursor: pointer;
    font-size: 1.5rem;
    transition: 0.3s linear;
}

.single-count-box .count p:nth-of-type(3) {
    cursor: pointer;
    font-size: 1.5rem;
    transition: 0.3s linear;
}

.single-count-box .count p:nth-of-type(1):hover {
    scale: 1.4;
}

.single-count-box .count p:nth-of-type(3):hover {
    scale: 1.3;
}

.single-card-bnt-box a:nth-of-type(2) {
    background-color: #15cefc;
}

/* new */
.single-card-sm-img img {
    height: 10vh;
    width: 50%;
    margin: auto;
    border: 1px solid gray;
}

/* SEARCH RESULT  */
.search-result-section {
    background-color: rgb(235, 236, 236);
}

.search-result-section .container {
    padding-top: 8rem;
}

.search-box {
    width: 50%;
}

.search-box input {
    padding: 0.9rem 1.1rem;
    width: 100%;
    border-radius: 2rem;
    outline: none;
    border: none;
    font-size: 1.1rem;
    font-weight: 600;
}

/* CART SECTION  */
.cart-section {
    padding-top: 9rem;
    background-color: rgb(235, 236, 236);
}

.cart-head {
    margin-left: 5rem;
    margin-bottom: 2rem;
    font-size: 3rem;
}

.cart-heading {
    border-bottom: 1px solid darkgray;
}

.cart-img {
    width: 100px;
    height: 130px;
    border: 1px solid gainsboro;
    border-radius: 5px;
}

.cart-title {
    font-size: 0.7rem;
}

.cart-box .para {
    font-size: 1.2rem;
}

.qty {
    font-size: 1.5rem;
    cursor: pointer;
}

.qty-indicator {
    margin: 0 8px;
}

.qty-box {
    border: 1px solid gainsboro;
    padding: 0.3rem;
    border-radius: 10px;
}

.cart-del {
    cursor: pointer;
}

.checkout-card {
    margin: 1rem 0;
}

#checkout-box {
    background-color: gainsboro;
}

.checkout-heading {
    font-size: 1.5rem;
}

.checkout-text {
    font-size: 0.9rem;
}

.checkout-btn-box .btn {
    display: inherit;
    padding: 0.8rem;
}

#estimate-btn {
    padding: 0.7rem 2rem;
}

.cart-accordion {
    background-color: gainsboro;
}

.estim-bg #floatingSelectGrid,
#floatingInput {
    background-color: gainsboro;
    border: 1px solid darkgray;
    outline: none;
}

/* billing section  */
.billing-section {
    padding-top: 6.5rem;
    background-color: rgb(235, 236, 236);

}

.payment-detail-box {
    border: 1px solid gainsboro;
    border-radius: 5px;
}

.payment-heading,
.payment-sub-total,
.payment-grand-total {
    border-bottom: 1px solid gainsboro;
}

.pay-button a {
    display: inherit;
}

.pay-add-input input {
    background-color: rgb(235, 236, 236);
    border: 1px solid darkgray;
    outline: none;
}

.pay-add-input select,
option {
    background-color: rgb(235, 236, 236);
    border: 1px solid darkgray;
    outline: none;
}

/* FAQS SECTION  */
.faqs-section {
    background-color: rgb(235, 236, 236);
    padding: 1.5rem 0 2.8rem 0;
}

.faqs-container {
    background-color: #15cefc;
    box-shadow: 0px 0px 11px #15cefc;
}

.faqs-container .row {
    padding: 5rem 2rem;
}

.faq-box-two .accordion .accordion-item {
    background-color: #15cefc;
}

.your-accordion-btn-class:focus {
    box-shadow: none;
}

.faq-box-one {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: self-start;
}

.faq-box-two {
    border-radius: 1rem;
}


/* Product satisfaction section  */
.product-satisfaction-section {
    padding: 2rem 0;
    background: linear-gradient(0deg, rgba(87, 93, 93, 1) 45%, rgba(25, 21, 21, 1) 94%);
}

.product-satisfaction-section .container h1 {
    font-size: 12rem;
}

.product-satisfaction-section .container p {
    font-size: 2rem;
}

/* MIDDLE BANNER SECTION  */
.middle-banner-section {
    background-color: rgb(235, 236, 236);
    padding: 3rem 0;
}

.middle-banner-box {
    background-image: url("/images/section_bg.jpg");
    width: 100%;
    height: 57vh;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.middle-banner-inner-box {
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, rgba(100, 191, 246, 0.8436624649859944) 33%, rgba(196, 196, 196, 0.7120098039215687) 100%);
}

@media(max-width:1200px) {
    .pro-collec-box img {
        height: 400px;
    }
}

@media(max-width:1130px) {

    /* footer  */
    .social-icon {
        width: 7%;
    }
}

@media(max-width:992px) {
    .card-img-top {
        height: 270px;
    }

    .pro-collec-box img {
        height: 390px;
    }

    .pro-collec-box div h2 {
        font-size: 3rem;
    }

    /* search result  */
    .search-box {
        width: 100%;
    }

    /* CART SECTION  */
    .checkout-text {
        font-size: 0.8rem;
    }

    .checkout-heading {
        font-size: 1.3rem;
    }

    #checkout-box {
        padding: 0.5rem;
    }

    /* footer  */
    .social-icon {
        width: 9%;
    }
}

@media(max-width:898px) {
    .single-card-sm-img img {
        width: 55%;
    }
}

@media(min-width:768px) {

    /* collection section  */
    .collection-text {
        opacity: 0;
        transition: 0.3s linear;
    }

    .collection-text-box:hover .collection-text {
        opacity: 1;
    }

}

@media(max-width:768px) {
    .nav-buttons .btn1 {
        font-size: 0.9rem;
        margin-right: 0;
    }

    .nav-buttons .btn1 i {
        font-size: 1.3rem;
    }

    .nav-buttons .btn2 i {
        font-size: 1.4rem;
    }

    .nav-buttons .btn2 span {
        font-size: 0.8rem;
    }

    .search-form {
        width: 50%;
    }

    /* hero section  */
    .slider-cotent-box img {
        height: 65vh;
    }

    #hero-content-box {
        bottom: 9.5rem;
    }

    #hero-content-box h2 {
        font-size: 2.2rem;
    }

    #hero-content-box a {
        font-size: 1rem;
        padding: 0.6rem 1.8rem;
    }

    /* product section  */

    .product-title {
        font-size: 0.9rem;
    }

    .collection-row-box {
        row-gap: 1rem;
    }

    #add-to-cart-btn {
        opacity: 1;
    }

    /* collection section  */
    .pro-collec-box img {
        height: 335px;
    }

    .pro-collec-box div h2 {
        font-size: 2.5rem;
    }

    /* SINGLE CARD  */
    .single-card-body .card-text {
        font-size: 1rem;
    }

    .price-box .price {
        font-size: 0.8rem;
    }

    .price-box .btn {
        font-size: 0.7rem;
    }

    .single-card-sm-img img {
        width: 75%;
    }

    .single-card-img {
        border: none;
    }

    /* cart section  */
    #checkout-box {
        padding: 2rem;
    }

    /* PRODUCT SATISFACTION SECTION  */
    .product-satisfaction-section .container h1 {
        font-size: 6rem;
    }

    .product-satisfaction-section .container p {
        font-size: 1.5rem;
    }

    /* footer  */
    .footer-bottom-box-two {
        justify-content: center;
    }

    .social-icon {
        width: 5%;
    }

    .footer-copy-right {
        text-align: center;
    }

}

@media(max-width:545px) {
    .social-icon {
        width: 6%;
    }
}

@media(max-width:599px) {
    .slider-cotent-box img {
        height: 55vh;
    }

    #inner-col {
        padding-left: 0;
        padding-right: 0;
    }

    #hero-content-box {
        bottom: 6.5rem;
    }

    #hero-content-box h2 {
        font-size: 1.8rem;
    }

    #hero-content-box a {
        padding: 0.5rem 1.7rem;
    }

    /* collection section  */
    .collection-text {
        font-size: 0.8rem;
    }

}

@media(min-width:425px) {
    #cotact-content-box {
        padding: 4rem 2rem;
    }
}

@media(max-width:425px) {

    /* NAVBAR  */
    #nav-search {
        width: 85%;
    }

    /* HERO  */
    #hero-content-box {
        bottom: 2rem;
    }

    #hero-content-box h2 {
        font-size: 1.3rem;
    }

    #hero-content-box a {
        padding: 0.25rem 1rem;
    }

    /* PRODUCT  */
    .collec-text-box h4 {
        font-size: 0.8rem;
    }

    .product-title {
        font-size: 0.72rem;
    }

    .slider-cotent-box img {
        height: 44vh;
    }

    .card-img-top {
        height: 207px;
    }

    .footer-copy-right {
        text-align: center;
    }

    /* collection section  */
    .collection-text {
        font-size: 0.9rem;
    }

    /* target collection section  */
    .pro-collec-box img {
        height: 248px;
    }

    .pro-collec-box div h2 {
        font-size: 2rem;
    }

    /* SINGLE CARD  */

    .single-card-body .rating-icon {
        font-size: 1rem;
    }

    .single-card-body .card-text {
        font-size: 0.8rem;
    }

    .single-card-sm-img img {
        width: 100%;
    }

    .single-card-sm-img img {
        height: 9vh;
    }

    /* CART SECTION  */
    .cart-head {
        margin-left: 2rem;
        font-size: 2rem;
    }

    .cart-specifier-box p {
        font-size: 0.9rem;
    }

    .cart-img {
        width: 73px;
        height: 95px;
    }

    .qty-box {
        border-radius: 21px;
        box-shadow: 0px 0px 4px rgb(8, 8, 8);
    }

    .qty {
        font-size: 1rem;
    }

    .qty-indicator {
        margin: 0 5px;
    }

    .cart-box .para {
        font-size: 0.9rem;
        font-weight: 700;
    }

    /* FAQS SECTION  */
    .faqs-section {
        padding: 1rem 0 2rem 0;
    }

    .faq-box-one {
        align-items: center;
    }

    .faq-box-one p {
        text-align: center;
    }

    /* PRODUCT SATISFACTION SECTION  */
    .product-satisfaction-section .container h1 {
        font-size: 4rem;
    }

    .product-satisfaction-section .container p {
        font-size: 1rem;
    }

    /* middle banner section  */
    .middle-banner-section {
        padding: 2rem 0;
    }
}

@media (max-width: 440px) {
    .slick-slide>div #featured-product-card {
        width: 65%;
    }

    #featured-card-img {
        height: 270px;
    }

    /* footer  */
    .social-icon {
        width: 8%;
    }
}

@media (max-width: 375px) {
    .card-img-top {
        height: 158px;
    }

    /* cart section  */
    #checkout-box {
        padding: 1rem;
    }

    /* featured product  */
    .slick-slide>div #featured-product-card {
        width: 75%;
    }

    #featured-card-img {
        height: 240px;
    }

    /* FOOTER  */
    .social-icon {
        width: 9%;
    }

    .single-card-sm-img img {
        height: 8vh;
    }
}

@media (max-width: 576px) {
    .product-box {
        display: flex;
        justify-content: center;
    }

    #add-to-cart-btn {
        bottom: 8.4rem;
        right: 0.5rem;
        font-size: 0.7rem;
    }

    .search-form {
        width: 60%;
    }
}

.slick-slide>div {
    margin: 0 10px;
}